<h1>About Us</h1>


<div id="aboutContainer">
    
    <div id="leftAboutCard">
        <h2> - We Love What We Do - </h2>
    
        <p>Above The Fold Events & Sport Promotions is always focused on delivering a premiere, professional and world class service to our clients, our participants, and the communities that we work with.  We are fortunate to work with the leading professionals in their industries - from graphic design, to safety plans, to event public relations; our team is ready to fulfill your needs and goals.</p><br>
        <p>We welcome you to experience Above The Fold Events & Sport Promotions</p><br>
    
    </div>
    
    <div id="rightAboutCard">
    
        <h2> - Founder - </h2>
        <h3> Joe Fleenor </h3>
        <h4>Owner & USAT Certified Race Director</h4>
    
        <p>​Joe graduated from the University of Tennessee majoring in Sport Management and has spent his entire professional life in the sport and event production business.</p><br>
        <p>His first love was tennis, where he spent 7 years working with the United States Tennis Association (USTA) in helping run local, state and regional tournaments and providing growth consulting services to tennis clubs, independent teaching professionals, parks and schools.</p><br>
        <p>After leaving the USTA, Joe moved into corporate event production, serving as Director of Events & Client Relations for The Rainmaker Companies, the leading training and consulting firm working with accounting firms across the globe.</p><br>
        <p>Joe has also served as President of the Brentwood Endurance Athletic Team (BEAT), a nonprofit organization whose mission is to promote and develop the growth of endurance sports in Middle Tennessee, as well as Co-Race Director for the Nolensville Kids Triathlon presented by BEAT.</p><br>
    
    </div>

</div>