<h1> All Events Test</h1>

<div class="evecon">
    <div class="eve" ng-repeat="eventThings in allEventsArray">

		<!-- <div ng-model="eventThings.id"><h5>Event ID: {{eventThings.id}}</h5></div> -->
		<!-- <div ng-model="eventThings.administrator_id"><h5>Administrator_id: {{eventThings.administrator_id}}</h5></div> -->
		<div ng-model="eventThings.image"><h5>Image: {{eventThings.image}}</h5></div>
		<div ng-model="eventThings.name"><h5>Name: {{eventThings.name}}</h5></div>
		<div ng-model="eventThings.date"><h5>Date: {{allEvents.date}}</h5></div>
		<div ng-model="eventThings.race_details"><h5>Race Details: {{eventThings.race_details}}</h5></div>
		<div ng-model="eventThings.location"><h5>Location: {{eventThings.location}}</h5></div>
		<div ng-model="eventThings.olympic_distances"><h5>olympic_distances: {{eventThings.olympic_distances}}</h5></div>
		<div ng-model="eventThings.sprint_distances"><h5>sprint_distances: {{eventThings.sprint_distances}}</h5></div>
		<div ng-model="eventThings.olympic_age_previous_yr"><h5>olympic_age_previous_yr: {{eventThings.olympic_age_previous_yr}}</h5></div>
		<div ng-model="eventThings.olympic_overall_previous_yr"><h5>olympic_overall_previous_yr: {{eventThings.olympic_overall_previous_yr}}</h5></div>
		<div ng-model="eventThings.sprint_age_previous_yr"><h5>sprint_age_previous_yr: {{eventThings.sprint_age_previous_yr}}</h5></div>
		<div ng-model="eventThings.sprint_overall_previous_yr"><h5>sprint_overall_previous_yr: {{eventThings.sprint_overall_previous_yr}}</h5></div>
		<div ng-model="eventThings.aquabike_previous_yr"><h5>aquabike_previous_yr: {{eventThings.aquabike_previous_yr}}</h5></div>
		<div ng-model="eventThings.relay_previous_yr"><h5>relay_previous_yr: {{eventThings.relay_previous_yr}}</h5></div>
		<div ng-model="eventThings.stage_details"><h5>stage_details: {{eventThings.stage_details}}</h5></div>
		<div ng-model="eventThings.olympic_swim_map"><h5>olympic_swim_map: {{eventThings.olympic_swim_map}}</h5></div>
		<div ng-model="eventThings.olympic_bike_map"><h5>olympic_bike_map: {{eventThings.olympic_bike_map}}</h5></div>
		<div ng-model="eventThings.olympic_run_map"><h5>olympic_run_map: {{eventThings.olympic_run_map}}</h5></div>
		<div ng-model="eventThings.sprint_swim_map"><h5>sprint_swim_map: {{eventThings.sprint_swim_map}}</h5></div>
		<div ng-model="eventThings.sprint_bike_map"><h5>sprint_bike_map: {{eventThings.sprint_bike_map}}</h5></div>
		<div ng-model="eventThings.sprint_run_map"><h5>sprint_run_map: {{eventThings.sprint_run_map}}</h5></div>
		<div ng-model="eventThings.site_plan"><h5>site_plan: {{eventThings.site_plan}}</h5></div>
		<div ng-model="eventThings.FAQs"><h5>FAQs: {{eventThings.FAQs}}</h5></div>
		<div ng-model="eventThings.schedule"><h5>schedule: {{eventThings.schedule}}</h5></div>
		<div ng-model="eventThings.facebook"><h5>facebook: {{eventThings.facebook}}</h5></div>
		<div ng-model="eventThings.register"><h5>register: {{eventThings.register}}</h5></div>
		<div ng-model="eventThings.sponsor"><h5>sponsor: {{eventThings.sponsor}}</h5></div>
		<div ng-model="eventThings.volunteer_link"><h5>volunteer_link: {{eventThings.volunteer_link}}</h5></div>
		<div ng-model="eventThings.olympic_swim_map"><h5> olympic_swim_map: {{eventThings.olympic_swim_map}}</h5></div>
		<div ng-model="eventThings.olympic_bike_map"><h5>olympic_bike_map: {{eventThings.olympic_bike_map}}</h5></div>
		<div ng-model="eventThings.olympic_run_map"><h5>olympic_run_map: {{eventThings.olympic_run_map}}</h5></div>
		<div ng-model="eventThings.sprint_swim_map"><h5>sprint_swim_map: {{eventThings.sprint_swim_map}}</h5></div>
		<div ng-model="eventThings.sprint_bike_map"><h5>sprint_bike_map: {{eventThings.sprint_bike_map}}</h5></div>
		<div ng-model="eventThings.sprint_run_map"><h5>sprint_run_map: {{eventThings.sprint_run_map}}</h5></div>
		<div ng-model="eventThings.site_plan"><h5>site_plan: {{eventThings.site_plan}}</h5></div>
		<div ng-model="eventThings.FAQs"><h5>FAQs: {{eventThings.FAQs}}</h5></div>
		<div ng-model="eventThings.schedule"><h5>schedule: {{eventThings.schedule}}</h5></div>
		<div ng-model="eventThings.facebook"><h5>facebook: {{eventThings.facebook}}</h5></div>
		<div ng-model="eventThings.register"><h5>register: {{eventThings.register}}</h5></div>
		<div ng-model="eventThings.sponsor"><h5>sponsor: {{eventThings.sponsor}}</h5></div>
		<div ng-model="eventThings.volunteer_link"><h5>volunteer_link: {{eventThings.volunteer_link}}</h5></div><br>
		
		<div class="btn">
			<button ng-click="deleteEventFromDB(eventThings.id)">Delete this Bad BOI</button>
		</div>
		<div class="btn">
			<button ng-click="editEventInDB(eventThings.id)">Delete this Bad BOI</button>
		</div>

    </div>
</div>

<a class="btn btn-primary" role="button" href="http://localhost:8080/#!/createEvent">Create Event</a>