<h1>Services Test</h1>

<!-- Carousel of all service groups -->



<div ng-controller="serviceGroupsController">

	<div style="height: 305px">
		<div uib-carousel active="active" interval="7000" no-wrap="noWrapSlides">
			<div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
				<div class="serviceGroupCard" ng-repeat="serviceGroups in serviceGroupsArray">
					<img ng-src="{{serviceGroups.image}}" style="margin:auto;">
					<div class="carousel-caption">
						<h4>Slide {{serviceGroups.name}}</h4>
						<p>{{serviceGroups.description}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


<!-- show all service groups -->

<div class="serviceGroupCardContainer">

    <div class="serviceGroupCard" ng-repeat="serviceGroups in serviceGroupsArray">

		<!-- <div ng-model="serviceGroups.id"><h5>ID: {{serviceGroups.id}}</h5></div> -->
		<div ng-model="serviceGroups.name"><h5>Name: {{serviceGroups.name}}</h5></div>
		<div ng-model="serviceGroups.description"><h5>Description: {{serviceGroups.description}}</h5></div><br>
		<div class="servicesCard" ng-repeat="service in servicesArray" ng-if="service.service_group_id == serviceGroups.id">
			<!-- <div ng-model="service.service_group_id"><p>Service Group ID: {{service.service_group_id}}</p></div> -->
			<div ng-model="service.name"><p>Name: {{service.name}}</p></div>
			<div ng-model="service.description"><p>Description: {{service.description}}</p></div><br>	
		</div>

    </div>

</div>