<h1>Single Event Test</h1>

<div id="singleEventCardContainer">

    <div class="singleEventCard" ng-model="singleEventDetailsView">
	
		<div ng-model="singleEventDetailsView.image"><h5>Image: {{singleEventDetailsView.image}}</h5></div>
		<div ng-model="singleEventDetailsView.name"><h5>Name: {{singleEventDetailsView.name}}</h5></div>
		<div ng-model="singleEventDetailsView.date"><h5>Date: {{allEvents.date}}</h5></div>
		<div ng-model="singleEventDetailsView.race_details"><h5>Race Details: {{singleEventDetailsView.race_details}}</h5></div>
		<div ng-model="singleEventDetailsView.location"><h5>Location: {{singleEventDetailsView.location}}</h5></div>
		<div ng-model="singleEventDetailsView.olympic_distances"><h5>olympic_distances: {{singleEventDetailsView.olympic_distances}}</h5></div>
		<div ng-model="singleEventDetailsView.sprint_distances"><h5>sprint_distances: {{singleEventDetailsView.sprint_distances}}</h5></div>
		<div ng-model="singleEventDetailsView.olympic_age_previous_yr"><h5>olympic_age_previous_yr: {{singleEventDetailsView.olympic_age_previous_yr}}</h5></div>
		<div ng-model="singleEventDetailsView.olympic_overall_previous_yr"><h5>olympic_overall_previous_yr: {{singleEventDetailsView.olympic_overall_previous_yr}}</h5></div>
		<div ng-model="singleEventDetailsView.sprint_age_previous_yr"><h5>sprint_age_previous_yr: {{singleEventDetailsView.sprint_age_previous_yr}}</h5></div>
		<div ng-model="singleEventDetailsView.sprint_overall_previous_yr"><h5>sprint_overall_previous_yr: {{singleEventDetailsView.sprint_overall_previous_yr}}</h5></div>
		<div ng-model="singleEventDetailsView.aquabike_previous_yr"><h5>aquabike_previous_yr: {{singleEventDetailsView.aquabike_previous_yr}}</h5></div>
		<div ng-model="singleEventDetailsView.relay_previous_yr"><h5>relay_previous_yr: {{singleEventDetailsView.relay_previous_yr}}</h5></div>
		<div ng-model="singleEventDetailsView.stage_details"><h5>stage_details: {{singleEventDetailsView.stage_details}}</h5></div>
		<div ng-model="singleEventDetailsView.olympic_swim_map"><h5>olympic_swim_map: {{singleEventDetailsView.olympic_swim_map}}</h5></div>
		<div ng-model="singleEventDetailsView.olympic_bike_map"><h5>olympic_bike_map: {{singleEventDetailsView.olympic_bike_map}}</h5></div>
		<div ng-model="singleEventDetailsView.olympic_run_map"><h5>olympic_run_map: {{singleEventDetailsView.olympic_run_map}}</h5></div>
		<div ng-model="singleEventDetailsView.sprint_swim_map"><h5>sprint_swim_map: {{singleEventDetailsView.sprint_swim_map}}</h5></div>
		<div ng-model="singleEventDetailsView.sprint_bike_map"><h5>sprint_bike_map: {{singleEventDetailsView.sprint_bike_map}}</h5></div>
		<div ng-model="singleEventDetailsView.sprint_run_map"><h5>sprint_run_map: {{singleEventDetailsView.sprint_run_map}}</h5></div>
		<div ng-model="singleEventDetailsView.site_plan"><h5>site_plan: {{singleEventDetailsView.site_plan}}</h5></div>
		<div ng-model="singleEventDetailsView.FAQs"><h5>FAQs: {{singleEventDetailsView.FAQs}}</h5></div>
		<div ng-model="singleEventDetailsView.schedule"><h5>schedule: {{singleEventDetailsView.schedule}}</h5></div>
		<div ng-model="singleEventDetailsView.facebook"><h5>facebook: {{singleEventDetailsView.facebook}}</h5></div>
		<div ng-model="singleEventDetailsView.register"><h5>register: {{singleEventDetailsView.register}}</h5></div>
		<div ng-model="singleEventDetailsView.sponsor"><h5>sponsor: {{singleEventDetailsView.sponsor}}</h5></div>
		<div ng-model="singleEventDetailsView.volunteer_link"><h5>volunteer_link: {{singleEventDetailsView.volunteer_link}}</h5></div>
		<div ng-model="singleEventDetailsView.olympic_swim_map"><h5> olympic_swim_map: {{singleEventDetailsView.olympic_swim_map}}</h5></div>
		<div ng-model="singleEventDetailsView.olympic_bike_map"><h5>olympic_bike_map: {{singleEventDetailsView.olympic_bike_map}}</h5></div>
		<div ng-model="singleEventDetailsView.olympic_run_map"><h5>olympic_run_map: {{singleEventDetailsView.olympic_run_map}}</h5></div>
		<div ng-model="singleEventDetailsView.sprint_swim_map"><h5>sprint_swim_map: {{singleEventDetailsView.sprint_swim_map}}</h5></div>
		<div ng-model="singleEventDetailsView.sprint_bike_map"><h5>sprint_bike_map: {{singleEventDetailsView.sprint_bike_map}}</h5></div>
		<div ng-model="singleEventDetailsView.sprint_run_map"><h5>sprint_run_map: {{singleEventDetailsView.sprint_run_map}}</h5></div>
		<div ng-model="singleEventDetailsView.site_plan"><h5>site_plan: {{singleEventDetailsView.site_plan}}</h5></div>
		<div ng-model="singleEventDetailsView.FAQs"><h5>FAQs: {{singleEventDetailsView.FAQs}}</h5></div>
		<div ng-model="singleEventDetailsView.schedule"><h5>schedule: {{singleEventDetailsView.schedule}}</h5></div>
		<div ng-model="singleEventDetailsView.facebook"><h5>facebook: {{singleEventDetailsView.facebook}}</h5></div>
		<div ng-model="singleEventDetailsView.register"><h5>register: {{singleEventDetailsView.register}}</h5></div>
		<div ng-model="singleEventDetailsView.sponsor"><h5>sponsor: {{singleEventDetailsView.sponsor}}</h5></div>
		<div ng-model="singleEventDetailsView.volunteer_link"><h5>volunteer_link: {{singleEventDetailsView.volunteer_link}}</h5></div><br>

	</div>
</div>