<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	
    <a class="navbar-brand" href="http://localhost:8080/">Navbar</a>
		
	<!-- *****Within the class of the 'nav-item', use active or disabled***** -->
	<!-- events services about contact login -->

	<div id="navLinks">
		<ul class="navbar-nav">
			<li>
				<a class="nav-link" href="http://localhost:8080/#!/events">Events</a>
			</li>

			<li>
				<a class="nav-link" href="http://localhost:8080/#!/services">Services</a>
			</li>

			<li>
				<a class="nav-link" href="http://localhost:8080/#!/about">About</a>
			</li>

			<li>
				<a class="nav-link" href="http://localhost:8080/#!/contact">Contact</a>
			</li>

			<li>
				<a class="nav-link" href="http://localhost:8080/#!/login">Login/Register</a>
			</li>
		</ul>
	</div>
		
	<form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="text" placeholder="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>
	
</nav>