.navbar-nav {
    flex-direction: row !important;
}

#navlinks > li {
    margin-right: 10px;
    margin-left: 10px;
}

#aboutContainer{
    height: 100%;
    width: 100%;
    margin: 1%;
    display: flex;
    flex: wrap;
}

#leftAboutCard {
    margin: 1%;
    height: 90%;
    width: 40%;
}

#rightAboutCard {
    margin: 1%;
    height: 90%;
    width: 60%;
}

.form-group {
    margin: 2%;
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
}
 
:-moz-placeholder { /* Firefox 18- */
	text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
	text-align: center;  
}

:-ms-input-placeholder {  
	text-align: center; 
}

#contactFormAndMapContainer{
	height: 100%;
    width: 100%;
    margin: 1%;
    display: flex;
    flex: wrap;
}

#contactForm{
	margin: 1%;
    height: 90%;
	width: 60%;
}

#googleMapSpace{

	margin: 1%;
    height: 90%;
    width: 40%;
}

.eve{
    text-align: center;
}


